@keyframes rotate-y {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.disc-image {
  height: auto;
  max-width: 75%; /* Adjust the size as needed */
  max-height: 75%; /* Adjust the size as needed */
  transform-origin: center;
}

.animate-rotate-y {
  animation: rotate-y 6s linear infinite;
}
